<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.RuiUserMapper" >
    <resultMap id="BaseResultMap" type="com.example.demo.entity.po.RuiUserPO" >
        <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="nickname" property="nickname" />
        <result column="user_psw" property="userPsw" />
        <result column="user_status" property="userStatus" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <sql id="baseSelect">
        SELECT id, user_name, nickname, user_psw, user_status, last_login_time, create_by FROM rui_user
    </sql>

    <insert id="insertUser" parameterType="com.example.demo.entity.po.RuiUserPO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO rui_user (
        user_name, nickname, user_psw, user_status, create_by, create_time
        ) VALUES (
        userName, nickname, userPsw, userStatus, createBy, NOW()
        )
    </insert>

    <select id="selectById" resultMap="BaseResultMap" >
        <include refid="baseSelect"/>
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        <include refid="baseSelect"/>
        WHERE is_delete = 0
    </select>

    <select id="selectByName" resultType="com.example.demo.entity.po.RuiUserPO">
        <include refid="baseSelect"/>
        WHERE is_delete = 0
        AND user_name = #{userName}
    </select>

</mapper>